@charset "utf-8";

.tsr .container {
    width: 950px;
    height: 100%;
    margin: 0 auto;
    padding: 35px 0 0;
}

.tsr .contents {
    width: 690px;
    height: 100%;
    margin: 0 30px 0 0;
    float: left;
}

.tsr .day_wrap {
    border-bottom: solid 1px #000000;
    margin: 0 0 15px;
}

.tsr .day_wrap p{
    float: left;
    font-size: 320%;
}

.tsr .day_wrap select{
    width: 210px;
    height: 34px;
    display: block;
    float: right;
    font-size: 140%;
    color: #505050;
    -webkit-border-radius: 1px;
}

.tsr .article_head {
    position: relative;
}

.tsr .article_head h1 {
    width: auto;
    float: left;
    font-size: 240%;
    color: #194CC2;
    font-weight: bold;
}

.tsr .article_head h2 {
    margin: 0 0 0 8em;
    padding: 5px 0 0;
    font-size: 180%;
    color: #4B4B4B;
}

.tsr .red_btn {
    width: 195px;
    height: 34px;
    border: 0px;
    background: url(../images/common/red_btn.gif) 0 0 no-repeat;
    font-size: 160%;
    color: #ffffff;
    font-weight: bold;
}

.tsr .archive_save {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.tsr .article_head div {
    margin: 15px 0 0 ;
    padding: 10px;
    background: #E6E6E6;
    font-size: 130%;
    color: #5B5B5B;
    clear: both;
}

.tsr .article {
    margin: 15px 0 0;
    font-size: 140%;
    line-height: 1.7;
}

.tsr .article img {
    margin: 0 15px 15px 0;
    float: left;
}

.tsr .news_check,
.tsr .go_top {
    height: 42px;
    margin: 40px 0 0;
    padding: 5px;
    float: left;
    line-height: 42px;
}

.tsr .news_check {
    width: 470px;
    margin: 40px 10px 0 0;
    border: solid 1px #000000;
    font-size: 210%;
}

.tsr .news_check p:first-child {
    float: left;
}

.tsr .news_check p:first-child + p {
    width: 90px;
    height: 34px;
    margin: 5px 0 0;
    display: block;
    background: url(../images/common/home_back.gif) 0 0 repeat-x;
    float: right;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
}

.tsr .go_top {
    width: 180px;
    background: url(../images/common/page_top.gif) 10px center no-repeat #E6E6E6;
    font-size: 180%;
}

.tsr .go_top a{
    margin: 0 0 0 40px;
}

/* ------top-----*/

.tsr.top .article a {
    color: #1946C8;
    text-decoration: underline;
}

.tsr.top .columnews_wrap {
    margin: 20px 0 0;
}

.tsr.top .columnews_wrap p,
.tsr.top .bankruptcy_wrap p {
    width: 680px;
    height: 28px;
    margin: 0 0 5px;
    padding: 0 0 0 10px;
    background: url(../images/top/colum_bar.gif) 0 0 no-repeat;
    font-size: 150%;
    color: #ffffff;
    line-height: 28px;
}

.tsr.top .bankruptcy_wrap p {
    background: url(../images/top/bankruptcy_bar.gif) 0 0 no-repeat;
}

.tsr.top .columnews_wrap dl,
.tsr.top .bankruptcy_wrap dl {
    padding: 5px 0;
    border-bottom: solid 1px #000000;
}

.tsr.top .columnews_wrap dl:after,
.tsr.top .bankruptcy_wrap dl:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    font-size: 0.1em;
    line-height:0;
}

.tsr.top .columnews_wrap dt,
.tsr.top .columnews_wrap dd,
.tsr.top .bankruptcy_wrap dt,
.tsr.top .bankruptcy_wrap dd {
    float: left;
}

.tsr.top .columnews_wrap dt,
.tsr.top .bankruptcy_wrap dt {
    margin: 0 15px 0 0;
    font-size: 170%;
    font-weight: bold;
}

.tsr.top .columnews_wrap dd,
.tsr.top .bankruptcy_wrap dd{
    font-size: 150%;
    margin: 2px 0 0;
}

.tsr.top .bankruptcy_wrap {
    margin: 40px 0 0;
}

.tsr.top .columnews_wrap dt {
    width: auto;
}

.tsr.top .bankruptcy_wrap dt{
    width: 14em;
}

.tsr.top .bankruptcy_wrap dt + dd {
    width: 8em;
}

.tsr.top .columnews_wrap dd,
.tsr.top .bankruptcy_wrap dt + dd + dd {
    float: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;/* IE6 */
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis;
}

/* ------bankruptcy-----*/

.tsr .article_head div .area {
    width: 120px;
    height: 31px;
    margin: 3px 10px 0 0;
    padding: 0;
    background: url(../images/bankruptcy/area_back.gif) 0 0 repeat-x;
    float: left;
    font-size: 123%;
    color: #ffffff;
    text-align: center;
    line-height: 31px;
}
